@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --active: #cf6a2b;
  --author: #2396a8;
  --bg: #f8e7dc;
}

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: var(--bg);
}

/* Webpage Content */
main {
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 90px;
}

/* ============== */
/* Navigation */
/* ============== */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  background: #fff; /* fixed navs need a background so content doesn't show through */

  border-bottom: 1px solid black;
}

nav ul {
  display: flex;       /* puts the links in a row */
  gap: 1.5rem;
  list-style: none;    /* removes bullets */
  margin: 0;
  padding: 0;
}

nav ul a {
  color: black;
  text-decoration: none;
}

nav ul a.active {
  color: var(--active);
  text-decoration: none;
}

nav .site-title {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/* Posts List */
.post-list {

}

.post-item {
  list-style-type: none;
  border-left: 2px solid black;
  padding-left: 20px;
}

.post-link {
  font-size: 20px;
  text-decoration: none;
  color: var(--active);
}

.post-author {
  color: var(--author);
}

/* post metadata */
.post-meta {

}

/* ============== */
/* Tags */
/* ============== */
.tag {
  color: var(--author);
  text-decoration: none;
}