<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<link rel="icon" href="{{ "/static/images/favicon.svg" | relURL }}" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<script>
    document.documentElement.dataset.theme = localStorage.getItem('theme') ?? '';
</script>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
