{{ define "main" }}
  <article class="post">
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
      {{ .Date.Format "January 2, 2006" }}
      {{ with .Params.authors }} · by
        {{ range $i, $a := . }}{{ if $i }}, {{ end }}<a href="{{ (printf "/authors/%s" (urlize .)) | relURL }}">{{ . }}</a>{{ end }}
      {{ end }}
      · {{ .ReadingTime }} min read
    </div>

    <div class="post-content">
      {{ .Content }}
    </div>

    {{ with .Params.tags }}
      <div class="tags">
        {{ range . }}<span class="tag">#{{ . }}</span>{{ end }}
      </div>
    {{ end }}
  </article>
{{ end }}
